<div
        class="bs-toast toast fade show bg-warning mb-3 me-3"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        id="input-alert-toast"
        style="position: fixed; bottom:0; right: 0; display: none"
>
    <div class="toast-header">
        <i class="bx bx-info-circle me-2"></i>
        <div class="me-auto fw-semibold">Unsaved Changes</div>
        <small>a second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Any data you modify is not saved automatically. Please make sure to click <strong>"continue later"</strong> or <strong>"Submit"</strong>  before closing.
    </div>
</div>