<body>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-2">Hello, {{ name }}!</h4>
                    <p class="mb-4">We heard that you forgot your password for the user ID: <b>{{ username }}</b> <br>
                        No worries, please click the link below to reset your password</p>
                    <br>
                    <a href="http://{{ request.get_host }}/reset-password?token={{ token }}">RESET PASSWORD</a>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
</body>
